<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">News Groupie</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/notes"><i class="material-icons left">speaker_notes</i>Notebook</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Saved Articles</h2>
      <hr>
      <h6 class="center-align">To add a note to an article, just click on "notes".</h6>
      <h6 class="center-align">To delete an article, just click the "Delete Article" button.</h6>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="collection">
        {{#each doc}}
          <li class="collection-item avatar">
            <i class="material-icons circle teal accent-4">library_books</i>
            <span class="notSeen">{{this._id}}</span>
            <a href={{this.link}} target="_blank">Go to the Article</a>
            <br><br>
            <span class="title"><strong>{{this.title}}</strong></span>
            <br>
            <p>{{this.blurb}}</p>
            <br>
            <a class="waves-effect waves-light btn red delete">Delete Article</a>
            <span class="secondary-content noter" data-modal="#modal{{this._id}}">notes<i class="material-icons right">speaker_notes</i></span>
            <br>
          </li>

          <div id="modal{{this._id}}" class="modal modal-fixed-footer">
            <div class="modal-content">
              <div class="row">
                <h4 class="center-align">Article Notes</h4>
              </div>
              <div class="row">
                <ul class="collapsible popout" data-collapsible="accordion" id="allNotes{{this._id}}">
                </ul>
              </div>
              <hr>
              <div class="row">
                <h5 class="center-align">Add a New Note</h5>
              </div>
              <div class="row">
                <div class="input-field">
                  <input id="userName" type="text" class="validate">
                  <label for="userName">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <textarea id="textarea" class="materialize-textarea"></textarea>
                  <label for="textarea">Write your note here...</label>
                </div>
              </div>
              <div class="row">
                <a class="waves-effect waves-light btn note-text" id={{this._id}}>Sumbit Note</a>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" id="close" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
            </div>
          </div>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/notes_page.js"></script>